.toolbar {
    height: 4rem;
    width: 100vw;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 5rem 1fr;
    align-items: center;
    padding: 0 1rem;

    .left div input,
    .right div select,
    button {
        padding: .25rem .5rem;
        border: none;
        border-radius: .5rem;
    }

    .left {
        display: flex;

        div {
            text-align: center;
            display: flex;
            flex-direction: column;

            input {
                margin-top: .25rem;
            }

            & + div {
                margin-left: 1rem;
            }
        }
    }

    button {
        background-color: darkblue;
        color: white;
        font-size: 1.5rem;
        margin-left: 1rem;
        cursor: pointer;

        &[disabled] {
            background-color: lightgrey;
            color: black;
            cursor: no-drop;
        }
    }

    .right {
        display: flex;
        justify-content: flex-end;
        
        div {
            select, 
            option {
                text-transform: capitalize;
            }

            select {
                margin-left: .5rem;
            }
        }
    }
}