@import '../../styles/variables.scss';

.index {
    padding: 0 2rem;
    background: $color-primary;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1,
    h2,
    p {
        text-align: center;
    }

    h1 {
        font-size: 4.5rem;
    }

    .tiles-container {
        display: flex;
        justify-content: center;
        width: 80vw;
        margin: 2rem auto;

        a {
            text-decoration: none;
            color: inherit;
            
            .tile {
                $animation_duration: 400ms;

                display: flex;
                justify-content: center;
                align-items: center;
                width: 20rem;
                height: 10rem;
                background: $color-secondary;
                color: #ddd;
                font-size: 1.5rem;
                border-radius: 1rem;
                transition: background-color $animation_duration ease;

                &:hover {
                    background: $color-secondary-accent;
                    transition: background-color $animation_duration ease;
                }
            }

            & + a {
                margin-left: 2rem;
            }
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        height: 2.5rem;
        width: 100vw;
        background: #333;
        color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: inherit;

            &::before,
            &::after {
                content: "\0000a0";
                text-decoration: none;
            }
        }
    }
}